.navBarWrapper {
  padding: 1em;
  width: 100%;
  background: $black;
  padding: 0 1em;
  border-bottom: 1px solid $blue;
}

.noUserNav,
.userNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .logo {
    margin-right: auto;
    font-family: $logoFont;
  }
  span,
  a {
    padding: 1em;
    position: relative;
    color: $green;
    text-decoration: none;
  }
}

.loginWrapper,
.registerWrap {
  position: absolute;
  margin: 0;
  // width: 200%;
  padding: 2em;
  right: 0;
  top: 60px;
  background: $white;
  box-shadow: 3px 3px 15px $shadow;
}
