<h1>[[profile.title]] [[profile.username]]</h1>
<button type="button" name="button" ng-click="profile.record()">record</button>
<div class="noTracks" ng-show="profile.noTracks">
  [[profile.response]]
</div>
<div class="trackCard" ng-repeat="track in profile.tracks">
  <h3>[[track.fields.title]]</h3>
  <h3>[[track.fields.artist]]</h3>
  <h3>[[track.fields.album]]</h3>
  <img ng-src="[[track.fields.imageURL]]" alt="" />
  <button type="button" name="button" ng-click="profile.delete(track)">Delete</button>
</div>
