{% csrf_token %}
{% load static %}
<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Accio</title>
 		<link rel="stylesheet" type="text/css" href=" ">
 	</head>
  <body>
    <div ng-app="Accio_app">
      <div ng-view>

      </div>
    </div>
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-recorder/dist/angular-audio-recorder.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'routing.js' %}"></script>
    <script src="{% static 'factory.js' %}"></script>
    <script src="{% static 'login/loginCtrl.js' %}"></script>
    <script src="{% static 'profile/profileCtrl.js' %}"></script>
    <script src="{% static 'record/recordCtrl.js' %}"></script>

  </body>
 </html>
