<ng-audio-recorder id="mainAudio"
  audio-model="recorded"
  show-player="false"
  time-limit="5"
  on-record-complete=""
  ng-model="wavefile"
  >
  <div ng-controller='RecordCtrl'>
    <div ng-if="recorder.isAvailable">
      <div ng-if="recorder.status.isDenied === true" style="color: red;">
        You need to grant permission for this application to USE your microphone.
      </div>
      <button
        ng-click="recorder.startRecord()"
        type="button"
        ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording">
        Start Record
      </button>
    </div>
    <div ng-if="!recorder.isAvailable">
      Your browser does not support this feature natively, please use latest version of
      <a href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a>
      or
      <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>
      . If you're on Safari or Internet Explorer, you can install
      <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a>
      to use this feature.
    </div>
  </div>
</ng-audio-recorder>
